*.pyc
*.pth
dataset/
result.txt
test_results/
testing_solarmap/
testing_true_cloud_relation/
checkpoints_true_cloud_relation/
run_testing/
check_input_data.py
First200.png
checkpoints/
venv/
pics/RLSTM/
testing/
checkpoints_solarmap/
backups/
LGBM_notebook.ipynb
results/
logs/
.DS_Store